@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
.play-wrap{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background:radial-gradient(circle closest-corner at center 40%,#320c0c 1.14rem,#000);
}



.rec-header{
	width: 100%;
	height: 1.58rem;
	padding: 0.19rem 0.13rem 0;
	box-sizing: border-box;
	
}
.rec-header .rec-control{
	position: fixed;
	top: 0.19rem;
	left: 0.13rem;
	right: 0.13rem;
	height: 0.2rem;

	display: flex;
	justify-content: space-between;
}
.rec-header .rec-control a{
	display:flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
}
.rec-header .rec-control .back{
	width: 0.2rem;

}
.rec-header .rec-control .problem{
	width: 0.2rem;

}
.rec-header .rec-control .iconfont{
	font-size: 0.2rem;
	color: #fff;
}







.play-wrap .disc{
	position: absolute;
	left: 50%;
	top: 1rem;
	margin-left: -1.16rem;
	width:2.23rem ;
	height: 2.23rem;
	background-color: #000;
	border-radius: 50%;
	padding: 0.34rem;
	box-sizing: border-box;
}
.play-wrap .disc img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}



@-moz-keyframes rotate

{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}



/* play-control start */
.play-control{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0.86rem;
	
}
.play-control .play-progress{
	display: flex;
	align-items: center;
	height: 0.06rem;
	padding: 0 0.13rem;
	
}
.play-control .play-progress .time{
	width: 0.4rem;
	height: 0.06rem;
	line-height: 0.06rem;
	text-align: center;
	flex: 0 0 0.4rem;
	font-size: 0.06rem;
	color: #a5a3a3;
	
}
.play-control .play-progress .progress{
	position: relative;
	flex:1;
	height: 0.012rem;
	margin: 0 0.04rem;
	border-radius: 0.006rem;
	background-color: #2f2929;
}
.play-control .play-progress .progress .pro-bar{
	position: absolute;
	top: 50%;
	left: 0;
	margin-top:-0.024rem ;
	width: 0.048rem;
	height: 0.048rem;
	border-radius: 50%;
	background-color: #fff;
}
.play-control .play-progress .progress .pro-bg{
	width: 0.048rem;
	height:100%;
	border-radius: 0.006rem;
	background-color: #ccc
}
.play-control .controls{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 0.8rem;
	
}
.play-control .controls .playing{
	display: flex;
/* 	width: 40%; */
	height: 0.41rem;
	justify-content: space-between;
	align-items: center;
}

.play-control .controls .playing .iconfont{
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 0.4rem;
	margin: 0 0.1rem;
	line-height: 0.38rem;
}
.play-control .controls .playing .icon-48shangyishou,
.play-control .controls .playing .icon-49xiayishou{
	font-size: 0.3rem;
	
}
.play-control .controls .playing .icon-bofang{
	font-size: 0.38rem;
}
/* lyric start */
.play-lyric{
	position: fixed;
	top: 0.88rem;
	left: 0;
	right: 0;
	bottom:1.02rem;
	overflow: hidden;
/* 	background-color: pink; */
}
.play-lyric .lyric-wrap{
	position: absolute;
	top:1.5rem;
	left: 0;
	right: 0;
	transition: 0.2s linear;
	/* height: 1rem; */
	/* background-color: red; */
}
.play-lyric .lyric-wrap p{
	position: relative;
	height: 0.34rem;
	line-height: 0.34rem;
	font-size: 0.12rem;
	color: #7f7676;
	text-align: center;
}